<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirebaseTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C81DA3831E3EB2E500CB15A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81DA3971E3EB2E600CB15A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81DA3A21E3EB2E600CB15A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
